/* Font-face styling */
@font-face {
  font-family: 'gt_americaextended_regular';
  src: url('../font/gt-america/gt-america-ext-reg.woff2') format('woff2'),
    url('font/gt-america/gt-america-ext-reg.woff') format('woff'),
    url('font/gt-america/gt-america-ext-reg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gt_americaextended_medium';
  src: url('../font/gt-america/gt-america-ext-medium.woff2') format('woff2'),
    url('font/gt-america/gt-america-ext-medium.woff') format('woff'),
    url('font/gt-america/gt-america-ext-medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #ffffff;
  font-family: 'EB Garamond', serif;
  font-size: 16px;
  /* all paragraph font size 16px */
  font-weight: 400;
  line-height: 180%;
  color: #000000;
  transition: all 500ms ease-in;
}

h1 {
  font-family: 'gt_americaextended_medium';
  font-size: 3em;
  /* 48px */
  line-height: 150%;
  color: #000000;
}

h2 {
  font-family: 'gt_americaextended_regular';
  font-size: 1.5em;
  /* 24px */
  line-height: 130%;
  color: #000000;
}

h3 {
  font-family: 'gt_americaextended_medium';
  font-size: 1.125em;
  /* 18px */
  line-height: 130%;
  color: #000000;
}

h4 {
  font-family: 'gt_americaextended_regular';
  font-size: 1.125em;
  /* 18px */
  line-height: 130%;
  color: #000000;
}

h5 {
  font-family: 'gt_americaextended_regular';
  font-size: 0.875em;
  /* 14px */
  line-height: 130%;
  color: #000000;
}

h6 {
  font-family: 'EB Garamond';
  font-size: 0.88em;
  /* 14px */
  line-height: 130%;
  font-weight: 400;
  color: #000000;
}

/* Layout styling */
* {
  box-sizing: border-box;
}

.container {
  padding: 0 15px;
  /* 0 top and bottom, 15px left and right padding */
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

img {
  width: 100%;
  max-width: 150px;
  height: auto;
}

header {
  padding: 10px 0;
  text-align: left;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
}

.logo {
  padding-top: 10px;
  max-width: 80px;
  display: inline-block;
  margin-left: 16px;
}

nav {
  display: inline-block;
  width: 100%;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
  list-style-type: none;
  padding: 0;
}

nav>ul>li>a {
  display: inline-block;
  padding: 0 15px;
  color: #000000;
  text-decoration: none;
}

ul {
  padding-inline-start: 0px;
}

ul>li {
  list-style-type: none;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

/* our hamburger menu */
.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 15px;
  font-size: 20px;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  background-color: #ffffff;
}

.navtoggle.reponsive li:last-child {
  padding: 0 0 10px;
}

/* hero section styling */
#hero {
  background: #ffffff;
  max-width: 800px;
  margin: auto;
  width: 100%;
  padding-top: 50px;
  padding-left: 25px;
  padding-right: 25px;
}

#hero h1 {
  text-align: left;
}

/* work index styling */
#work-index {
  background: #ffffff;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 50px;
  padding-right: 20px;
  display: inline-block;
  width: 100%;
}

#my-work-index {
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 50px;
  display: inline-block;
  width: 100%;
}

/* footer styling */
footer {
  background: #ffffff;
  padding-left: 20px;
  padding-top: 50px;
  padding-bottom: 10px;
  padding-right: 20px;
  margin-bottom: 10px;
  margin-top: 30px;
  display: inline-block;
  width: 100%;
}

/* to add extra padding to the top of the page */
main {
  padding-top: 80px;
}

/* make specific text bold class name */
.bold {
  font-weight: 700;
}

/* layout styling for the hero h1 */
.maxWidthSubtitle {
  width: 100%;
  max-width: 445px;
}

/* make specific text enlarge class name */
/* .enlarge {
  padding-top: 20px;
	line-height: 180%;
} */
/* button for "Get in Touch" */
.button.contact {
  display: inline-block;
  color: #000000;
  text-decoration: underline;
  transition: 0.2s opacity;
}

.button.contact:hover {
  opacity: 0.5;
  text-decoration: none;
}

/* button for the footer links */
.button.info {
  color: #000000;
  text-decoration: none;
  transition: 0.3s opacity;
}

.button.info:hover {
  color: #ed7930;
  text-decoration: underline;
}

/* button for the contact links */
.contact.link {
  color: #000000;
  text-decoration: none;
  transition: all 0.3s ease-in-out 0.2s;
}

.contact.link:hover {
  color: #ed7930;
  text-decoration: underline;
  font-size: 1.25em;
}

/* button for navigation menu */
.button.link {
  color: #000000;
  text-decoration: none;
  width: 100%;
  transition: all 0.3s ease-in-out 0.2s;
}

.button.link:visited {
  text-decoration: underline;
}

.button.link:hover,
.button.link:active {
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: underline;
  transition: all 0.3s ease-in-out 0.2s;
}

/* button for projects index */
.work.detail {
  color: #000000;
  text-decoration: none;
  font-family: 'gt_americaextended_medium';
  font-size: 3em;
}

.work.detail:hover {
  color: #ed7930;
}

/* image hover for main page project index and styling */
.project.index {
  color: #000000;
  text-decoration: none;
  font-family: 'gt_americaextended_medium';
  font-size: 3em;
  transition: all 0.2s ease-in-out 0.2s;
}

.project.index:hover {
  color: #ed7930;
}

/* .popover1 {top: 10px; left: 10px; position: relative;}
#big { z-index: 999; position:absolute; text-align:center; padding:2px; background-color:#fff; border:1px solid #999; }
#big img { height: 250px; } */
/* Info page self description */
#about {
  background: #ffffff;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  display: inline-block;
  width: 100%;
}

#about h1 {
  text-align: left;
  padding-bottom: 70px;
}

#about-list {
  margin-left: 18px;
}

#contact-directory {
  font-family: 'gt_americaextended_medium';
  font-size: 2em;
  padding-bottom: 50px;
}

/* column styling */
[class*='col-'] {
  float: left;
}

.row::after {
  content: '';
  clear: both;
  display: table;
}

/* column layout */
.flexEvenly {
  flex-direction: column;
}

.blackLine {
  border: 0.2px solid black;
  width: 70px;
}

/* .footer.contact {
	display: flex;
	align-items: stretch;
	flex-direction: row;
	justify-content: stretch;
	width: 100%;
	max-width: 900px;
} */
/* work index on home page */
/* #work-index	{
		display: flex;
		align-items: baseline;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
	} */
#info-footer {
  text-align: right;
}

/* PlutoPay project detail page */
#hero-p h2 {
  text-align: left;
  max-width: 800px;
  padding-left: 35px;
  padding-top: 35px;
  padding-bottom: 30px;
}

#hero-p {
  margin-bottom: 50px;
}

.adjust {
  text-align: left;
  padding-left: 35px;
  max-width: 800px;
}

#project-prompt h3 {
  text-align: left;
  padding-left: 35px;
  padding-top: 100px;
  padding-bottom: 50px;
}

#project-prompt {
  margin-bottom: 80px;
}

.center {
  text-align: center;
  padding-bottom: 50px;
  padding-top: 30px;
}

.columns {
  flex-direction: column;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  padding-left: 30px;
}

.title {
  text-align: left;
  padding-left: 35px;
  padding-top: 100px;
  padding-bottom: 50px;
}

.padding-top {
  padding-top: 80px;
}

.padding-bottom {
  padding-bottom: 80px;
}

.legend {
  max-width: 200px;
  justify-content: flex-end;
}

/* Work Index */
#work-index {
  max-width: 800px;
  align-items: flex-start;
}

/* Medium devices (640px and up) */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 5px 0 15px;
  }

  img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  nav {
    width: auto;
    float: right;
    margin-right: 10px;
  }

  .logo {
    max-width: 80px;
    margin-top: 5px;
    margin-left: 15px;
  }

  body {
    transition: all 500ms ease-in;
  }

  nav>ul>li {
    display: inline-block;
    position: relative;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  main {
    padding-top: 80px;
  }

  .enlarge {
    /* padding-top: 20px; */
    font-size: 18px;
    /* line-height: 180%; */
  }

  #hero {
    max-width: 900px;
    margin: auto;
  }

  #work-index {
    padding-left: 50px;
    padding-right: 50px;
  }

  #about {
    padding-left: 50px;
    padding-right: 50px;
  }

  footer {
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 30px;
    margin-top: 40px;
  }

  .col-md-2 {
    width: 15%;
  }

  .col-md-8 {
    width: 70%;
  }

  .col-md-6 {
    width: 50%;
  }

  ul {
    padding-inline-start: 0px;
  }

  #contact-directory {
    font-family: 'gt_americaextended_medium';
    font-size: 3em;
    padding-bottom: 70px;
  }

  #my-work-index {
    padding-left: 50px;
    padding-right: 50px;
  }

  .flexEvenly {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
  }

  .footer.contact {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}

/* Large devices (1024px and up) */
@media only screen and (min-width: 1024px) {
  header {
    text-align: unset;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
  }

  img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  nav {
    width: auto;
    float: right;
    margin-right: 20px;
  }

  .logo {
    max-width: 110px;
    margin-top: 5px;
    margin-left: 15px;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  body {
    transition: all 500ms ease-in;
  }

  nav>ul>li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  main {
    padding-top: 120px;
  }

  body {
    font-size: 18px;
    /* using em for headings will automatically scale up h1-h6 */
  }

  h1 {
    line-height: 150%;
  }

  .enlarge {
    /* padding-top: 40px; */
    font-size: 22px;
    /* line-height: 180%; */
  }

  #hero {
    max-width: 900px;
    margin: auto;
  }

  #hero h1 {
    font-size: 80px;
  }

  #work-index {
    padding-left: 90px;
    padding-right: 80px;
  }

  #about {
    padding-left: 90px;
    padding-right: 80px;
  }

  footer {
    padding-left: 90px;
    margin-bottom: 50px;
    margin-top: 90px;
  }

  .col-lg-5 {
    width: 20%;
  }

  ul {
    padding-inline-start: 0px;
  }

  #my-work-index {
    padding-left: 90px;
    padding-right: 80px;
  }

  #contact-directory {
    font-family: 'gt_americaextended_medium';
    font-size: 3em;
    padding-bottom: 100px;
  }

  #info-skill {
    margin-right: 100px;
  }

  #info-education {
    margin-right: 120px;
  }

  #info-contact {
    padding-right: 0;
  }
}

/* X-large devices (1440px and up) */
@media only screen and (min-width: 1440px) {
  header {
    text-align: unset;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }

  img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  nav {
    width: auto;
    float: right;
    margin-right: 20px;
  }

  .logo {
    max-width: 110px;
    margin: auto;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  body {
    transition: all 500ms ease-in;
  }

  nav>ul>li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  main {
    padding-top: 150px;
  }

  body {
    font-size: 18px;
    /* using em for headings will automatically scale up h1-h6 */
  }

  h1 {
    line-height: 160%;
  }

  .enlarge {
    /* padding-top: 40px; */
    font-size: 24px;
    /* line-height: 180%; */
  }

  #hero {
    max-width: 1200px;
    margin: auto;
  }

  #hero h1 {
    font-size: 90px;
  }

  #work-index {
    padding-left: 180px;
    padding-right: 120px;
  }

  #about {
    padding-left: 180px;
    padding-right: 120px;
  }

  footer {
    padding-left: 90px;
    margin-bottom: 70px;
    margin-top: 120px;
  }

  ul {
    padding-inline-start: 0px;
  }

  #my-work-index {
    padding-left: 180px;
    padding-right: 80px;
  }

  #contact-directory {
    font-family: 'gt_americaextended_medium';
    font-size: 3em;
    padding-bottom: 100px;
  }

  #info-skill {
    margin-right: 140px;
  }

  #info-education {
    margin-right: 160px;
  }

  #info-contact {
    padding-right: 0;
  }
}
